{% extends 'base.html' %}

{% load qr_code %}

{% block title %}Yeni Yayın Noktası{% endblock %}
{% block body %}
    <main>
        <h1>Yayın Noktası: {{mount.name}}</h1>
        <div>
            <h3>Bağlantı Bilgileri</h3>
            <p>
                <strong>Type:</strong> IceCast v2
            </p>
            <p>
                <strong>Address:</strong> {{ host }}
            </p>
            <p>
                <strong>SSL/TLS:</strong> Yes
            </p>
            <p>
                <strong>Port:</strong> {{ mount.station.port }}
            </p>
            <p>
                <strong>Password:</strong> {{ mount.station.source_password }}
            </p>
            <p>
                <strong>Mount:</strong> {{ mount.id }}
            </p>
            <p>
                <strong>Username:</strong> source
            </p>
            <div style="display: flex; align-items: center;"">
                <a class="button" href="/mounts/{{ mount.id }}/butt/" style="display: flex; justify-content: center; align-items: center;">
                    <svg style="fill: #2980b9" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    <span style="margin-left: 0.5rem">
                        Butt Yapılandırması
                    </span>
                </a>
                <a class="button" id="coolmic-toggle" style="display: flex; justify-content: center; align-items: center; margin-left: 1rem;">
                    <svg style="fill: #2980b9" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M5 15H3v4c0 1.1.9 2 2 2h4v-2H5v-4zM5 5h4V3H5c-1.1 0-2 .9-2 2v4h2V5zm14-2h-4v2h4v4h2V5c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                    <span style="margin-left: 0.5rem">
                        Cool Mic Yapılandırması
                    </span>
                </a>
            </div>

            <div id="coolmic" style="display: none">
                {% qr_from_text coolmic_url size="M" %}
            </div>

            <div style="margin-top: 1rem;">
                <a class="button" href="/stations/{{ mount.station.id }}">Geri</a>
                <a class="button" href="/mounts/{{ mount.id }}/edit/">Düzenle</a>
                <a class="button primary" href="/p/{{ mount.slug }}">Dinle</a>
            </div>

        </div>

        <script>
            $toggle = document.querySelector('#coolmic-toggle');
            $qr = document.querySelector('#coolmic');
            $toggle.addEventListener('click', toggleQR);
            function toggleQR() {
                $qr.style.display = $qr.style.display === 'none' ? 'block' : 'none';
            }
        </script>
    </main>
{% endblock %}