{% extends 'base.html' %}
{% block title %}İstasyon Bilgileri{% endblock %}
{% block head %}
    <style>
        ul {
            padding: 0;
        }
        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
        }
    </style>
{% endblock %}
{% block body %}
    <main>
        <h1>İstasyon: {{ station.name }}</h1>

        <h2>Yayın Noktaları</h2>
        <ul>
            {% for mount in mounts %}
            <li>
                <span>
                    <a href="/mounts/{{ mount.id }}">{{ mount.name }}</a>
                </span>
                <span>
                    <a href="/play/{{ mount.id }}" class="button icon-button primary">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
                    </a>
                    <button class="icon-button error-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </button>
                </span>
            </li>
            {% endfor %}
        </ul>
        <br/>
        <a class="button primary" href="/stations/{{ station.id }}/add-mount">Yeni Yayın Noktası</a>
    </main>
{% endblock %}