{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'radman/normalize.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'radman/style.css' %}" rel="stylesheet">
    <title>{% block title %}Title{%  endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            Radman © 2020
        </footer>
    {% endblock %}
</body>
</html>